.search{
    --padding: 14px;

    width: max-content;
    display: flex;
    align-content: center;
    padding: var(--padding);
    border-radius: 28px;
    background-color: #f6f6f6;
}

.search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color:#333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background-color: transparent;
    width: 300px;
}