#wrapper{
    display: grid;
    position: relative;
    height: 149vh;
    width: 100%;
    background: linear-gradient(135deg, #0b0f1a, #1a1f2e);
    grid-template-areas: 
    "h h h"
    "u u u"
    "i1 s i2"
    "i1 s i2";
    padding: 2%;
    min-width: 0;
    align-items: stretch;
    grid-template-rows: auto 100px 1fr 1fr;
    overflow: hidden;
}

#topbar{
    background: linear-gradient(145deg, #0b0f1a, #121826);
    grid-area: h;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(3rem, 6vw, 7rem);
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px;
    gap: 10px;
    border-radius: 30px;
   border: 2px solid rgba(107, 114, 128, 0.3);
    font-size: 3rem;
    text-shadow:
    0 0 8px #00e5ff,
    0 0 15px #00e5ff,
    0 0 30px #00e5ff;
    box-shadow:
    0 0 10px rgba(0, 229, 255, 0.2),
    inset 0 0 10px rgba(0, 229, 255, 0.1);
    color: #bff8ff;
}

/* Taget från tidigare project väldigt modifiered knappast samma*/
#tillbaka_knapp {
    position: absolute;
    left: 4rem;
    top: 5%;

    background: linear-gradient(145deg, #0b0f1a, #121826);
    border: 1px solid rgba(107, 114, 128, 0.4);
    border-radius: 12px;
    padding: 1.2rem 2rem;

    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    color: #cbd5e1;
    text-shadow:
    0 0 5px #00e5ff,
    0 0 10px #00e5ff,
    0 0 25px #00e5ff;
}

#tillbaka_knapp:hover {
    transform: translateY(-2px);
    box-shadow:
        0 0 20px rgba(0, 229, 255, 0.6);
    border-color: #00e5ff;
}
/* Taget från tidigare project väldigt modifiered knappast samma*/

#rule_knapp {
    position: absolute; 
    left: 100rem; 
    top: 5%;

    background: linear-gradient(145deg, #0b0f1a, #121826);
    border: 1px solid rgba(107, 114, 128, 0.4);
    border-radius: 12px;
    padding: 1.2rem 2rem;

    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    color: #cbd5e1;
    text-shadow:
    0 0 5px #00e5ff,
    0 0 10px #00e5ff,
    0 0 25px #00e5ff;
}

#rule_knapp:hover {
    transform: translateY(-2px);
    box-shadow:
        0 0 20px rgba(0, 229, 255, 0.6);
    border-color: #00e5ff;
}

#information1{
    grid-area: i1;
    background-color: #1a1f2e;
    color: #cbd5e1;
    font-size: 1.2rem;
    line-height: 1.6;
}

#information2{
    grid-area: i2;
    background-color: #1a1f2e;
    color: #cbd5e1;
    font-size: 1.2rem;
    line-height: 1.6;
}

.title {
    text-align: center;
}

#information1, #information2 {
    min-width: 0;
    overflow-wrap: break-word;
    word-break: break-word;
    width: 100%;
    height: 100%;
    border-radius: 7%;
    padding: 5%;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

#utrymme{
    grid-area: u;
}